body {
  background-color: black;
  font-family: "Veranda", Sans-serif;
  }

h1,
.download,
.travel,
#likes {
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
}

.download {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

.travel {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#likes {
  font-size: 21px;
  color: gray;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: right;
  width: 100%;
  color: gray;
  }
