body {
  background-color: black;
}

h1,
p,
.download,
.travel,
#likes
 {
  font-family: veranda;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.download {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
}

.travel {
  text-align: center;
  font-family: veranda;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#likes {
  font-size: 21px;
  color: gray;
}
